In [445]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import numpy as np
%matplotlib inline

In [446]:
data= pd.read_csv('imdb_top_1000.csv')

In [447]:
data

,Poster_Link,Series_Title,Released_Year,Certificate,Runtime,Genre,IMDB_Rating,Overview,Meta_score,Director,Star1,Star2,Star3,Star4,No_of_Votes,Gross
0,https://m.media-amazon.com/images/M/MV5BMDFkYT...,The Shawshank Redemption,1994,A,142 min,Drama,9.3,Two imprisoned men bond over a number of years...,80.0,Frank Darabont,Tim Robbins,Morgan Freeman,Bob Gunton,William Sadler,2343110,"28,341,469"
1,https://m.media-amazon.com/images/M/MV5BM2MyNj...,The Godfather,1972,A,175 min,"Crime, Drama",9.2,An organized crime dynasty's aging patriarch t...,100.0,Francis Ford Coppola,Marlon Brando,Al Pacino,James Caan,Diane Keaton,1620367,"134,966,411"
2,https://m.media-amazon.com/images/M/MV5BMTMxNT...,The Dark Knight,2008,UA,152 min,"Action, Crime, Drama",9.0,When the menace known as the Joker wreaks havo...,84.0,Christopher Nolan,Christian Bale,Heath Ledger,Aaron Eckhart,Michael Caine,2303232,"534,858,444"
3,https://m.media-amazon.com/images/M/MV5BMWMwMG...,The Godfather: Part II,1974,A,202 min,"Crime, Drama",9.0,The early life and career of Vito Corleone in ...,90.0,Francis Ford Coppola,Al Pacino,Robert De Niro,Robert Duvall,Diane Keaton,1129952,"57,300,000"
4,https://m.media-amazon.com/images/M/MV5BMWU4N2...,12 Angry Men,1957,U,96 min,"Crime, Drama",9.0,A jury holdout attempts to prevent a miscarria...,96.0,Sidney Lumet,Henry Fonda,Lee J. Cobb,Martin Balsam,John Fiedler,689845,"4,360,000"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,https://m.media-amazon.com/images/M/MV5BNGEwMT...,Breakfast at Tiffany's,1961,A,115 min,"Comedy, Drama, Romance",7.6,A young New York socialite becomes interested ...,76.0,Blake Edwards,Audrey Hepburn,George Peppard,Patricia Neal,Buddy Ebsen,166544,NaN
996,https://m.media-amazon.com/images/M/MV5BODk3Yj...,Giant,1956,G,201 min,"Drama, Western",7.6,Sprawling epic covering the life of a Texas ca...,84.0,George Stevens,Elizabeth Taylor,Rock Hudson,James Dean,Carroll Baker,34075,NaN
997,https://m.media-amazon.com/images/M/MV5BM2U3Yz...,From Here to Eternity,1953,Passed,118 min,"Drama, Romance, War",7.6,"In Hawaii in 1941, a private is cruelly punish...",85.0,Fred Zinnemann,Burt Lancaster,Montgomery Clift,Deborah Kerr,Donna Reed,43374,"30,500,000"
998,https://m.media-amazon.com/images/M/MV5BZTBmMj...,Lifeboat,1944,NaN,97 min,"Drama, War",7.6,Several survivors of a torpedoed merchant ship...,78.0,Alfred Hitchcock,Tallulah Bankhead,John Hodiak,Walter Slezak,William Bendix,26471,NaN
999,https://m.media-amazon.com/images/M/MV5BMTY5OD...,The 39 Steps,1935,NaN,86 min,"Crime, Mystery, Thriller",7.6,A man in London tries to help a counter-espion...,93.0,Alfred Hitchcock,Robert Donat,Madeleine Carroll,Lucie Mannheim,Godfrey Tearle,51853,NaN

In [448]:
# Conteo de valores perdidos/faltantes  
data.isna().sum()

Poster_Link        0
Series_Title       0
Released_Year      0
Certificate      101
Runtime            0
Genre              0
IMDB_Rating        0
Overview           0
Meta_score       157
Director           0
Star1              0
Star2              0
Star3              0
Star4              0
No_of_Votes        0
Gross            169
dtype: int64

In [449]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 16 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Poster_Link    1000 non-null   object
 1   Series_Title   1000 non-null   object
 2   Released_Year  1000 non-null   object
 3   Certificate    899 non-null    object
 4   Runtime        1000 non-null   object
 5   Genre          1000 non-null   object
 6   IMDB_Rating    1000 non-null   float64
 7   Overview       1000 non-null   object
 8   Meta_score     843 non-null    float64
 9   Director       1000 non-null   object
 10  Star1          1000 non-null   object
 11  Star2          1000 non-null   object
 12  Star3          1000 non-null   object
 13  Star4          1000 non-null   object
 14  No_of_Votes    1000 non-null   int64
 15  Gross          831 non-null    object
dtypes: float64(2), int64(1), object(13)
memory usage: 125.1+ KB

In [450]:
data['Certificate'].isna()

0      False
1      False
2      False
3      False
4      False
       ...
995    False
996    False
997    False
998     True
999     True
Name: Certificate, Length: 1000, dtype: bool

In [451]:
data['Certificate'].isna().sum()

101

In [452]:
data.drop(data.dropna().index)

,Poster_Link,Series_Title,Released_Year,Certificate,Runtime,Genre,IMDB_Rating,Overview,Meta_score,Director,Star1,Star2,Star3,Star4,No_of_Votes,Gross
18,https://m.media-amazon.com/images/M/MV5BNjViNW...,Hamilton,2020,PG-13,160 min,"Biography, Drama, History",8.6,The real life of one of America's foremost fou...,90.0,Thomas Kail,Lin-Manuel Miranda,Phillipa Soo,Leslie Odom Jr.,Renée Elise Goldsberry,55291,NaN
20,https://m.media-amazon.com/images/M/MV5BOTc2ZT...,Soorarai Pottru,2020,U,153 min,Drama,8.6,"Nedumaaran Rajangam ""Maara"" sets out to make t...",NaN,Sudha Kongara,Suriya,Madhavan,Paresh Rawal,Aparna Balamurali,54995,NaN
30,https://m.media-amazon.com/images/M/MV5BYjBmYT...,Seppuku,1962,NaN,133 min,"Action, Drama, Mystery",8.6,When a ronin requesting seppuku at a feudal lo...,85.0,Masaki Kobayashi,Tatsuya Nakadai,Akira Ishihama,Shima Iwashita,Tetsurô Tanba,42004,NaN
32,https://m.media-amazon.com/images/M/MV5BZjc4ND...,It's a Wonderful Life,1946,PG,130 min,"Drama, Family, Fantasy",8.6,An angel is sent from Heaven to help a despera...,89.0,Frank Capra,James Stewart,Donna Reed,Lionel Barrymore,Thomas Mitchell,405801,NaN
46,https://m.media-amazon.com/images/M/MV5BZmY2Nj...,Hotaru no haka,1988,U,89 min,"Animation, Drama, War",8.5,A young boy and his little sister struggle to ...,94.0,Isao Takahata,Tsutomu Tatsumi,Ayano Shiraishi,Akemi Yamaguchi,Yoshiko Shinohara,235231,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
993,https://m.media-amazon.com/images/M/MV5BYTE4YW...,Blowup,1966,A,111 min,"Drama, Mystery, Thriller",7.6,A fashion photographer unknowingly captures a ...,82.0,Michelangelo Antonioni,David Hemmings,Vanessa Redgrave,Sarah Miles,John Castle,56513,NaN
995,https://m.media-amazon.com/images/M/MV5BNGEwMT...,Breakfast at Tiffany's,1961,A,115 min,"Comedy, Drama, Romance",7.6,A young New York socialite becomes interested ...,76.0,Blake Edwards,Audrey Hepburn,George Peppard,Patricia Neal,Buddy Ebsen,166544,NaN
996,https://m.media-amazon.com/images/M/MV5BODk3Yj...,Giant,1956,G,201 min,"Drama, Western",7.6,Sprawling epic covering the life of a Texas ca...,84.0,George Stevens,Elizabeth Taylor,Rock Hudson,James Dean,Carroll Baker,34075,NaN
998,https://m.media-amazon.com/images/M/MV5BZTBmMj...,Lifeboat,1944,NaN,97 min,"Drama, War",7.6,Several survivors of a torpedoed merchant ship...,78.0,Alfred Hitchcock,Tallulah Bankhead,John Hodiak,Walter Slezak,William Bendix,26471,NaN
999,https://m.media-amazon.com/images/M/MV5BMTY5OD...,The 39 Steps,1935,NaN,86 min,"Crime, Mystery, Thriller",7.6,A man in London tries to help a counter-espion...,93.0,Alfred Hitchcock,Robert Donat,Madeleine Carroll,Lucie Mannheim,Godfrey Tearle,51853,NaN

In [453]:
data_filt=data.dropna().reset_index(drop=True)
data_filt

,Poster_Link,Series_Title,Released_Year,Certificate,Runtime,Genre,IMDB_Rating,Overview,Meta_score,Director,Star1,Star2,Star3,Star4,No_of_Votes,Gross
0,https://m.media-amazon.com/images/M/MV5BMDFkYT...,The Shawshank Redemption,1994,A,142 min,Drama,9.3,Two imprisoned men bond over a number of years...,80.0,Frank Darabont,Tim Robbins,Morgan Freeman,Bob Gunton,William Sadler,2343110,"28,341,469"
1,https://m.media-amazon.com/images/M/MV5BM2MyNj...,The Godfather,1972,A,175 min,"Crime, Drama",9.2,An organized crime dynasty's aging patriarch t...,100.0,Francis Ford Coppola,Marlon Brando,Al Pacino,James Caan,Diane Keaton,1620367,"134,966,411"
2,https://m.media-amazon.com/images/M/MV5BMTMxNT...,The Dark Knight,2008,UA,152 min,"Action, Crime, Drama",9.0,When the menace known as the Joker wreaks havo...,84.0,Christopher Nolan,Christian Bale,Heath Ledger,Aaron Eckhart,Michael Caine,2303232,"534,858,444"
3,https://m.media-amazon.com/images/M/MV5BMWMwMG...,The Godfather: Part II,1974,A,202 min,"Crime, Drama",9.0,The early life and career of Vito Corleone in ...,90.0,Francis Ford Coppola,Al Pacino,Robert De Niro,Robert Duvall,Diane Keaton,1129952,"57,300,000"
4,https://m.media-amazon.com/images/M/MV5BMWU4N2...,12 Angry Men,1957,U,96 min,"Crime, Drama",9.0,A jury holdout attempts to prevent a miscarria...,96.0,Sidney Lumet,Henry Fonda,Lee J. Cobb,Martin Balsam,John Fiedler,689845,"4,360,000"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
709,https://m.media-amazon.com/images/M/MV5BYjRmY2...,Giù la testa,1971,PG,157 min,"Drama, War, Western",7.6,A low-life bandit and an I.R.A. explosives exp...,77.0,Sergio Leone,Rod Steiger,James Coburn,Romolo Valli,Maria Monti,30144,"696,690"
710,https://m.media-amazon.com/images/M/MV5BMzAyND...,Kelly's Heroes,1970,GP,144 min,"Adventure, Comedy, War",7.6,A group of U.S. soldiers sneaks across enemy l...,50.0,Brian G. Hutton,Clint Eastwood,Telly Savalas,Don Rickles,Carroll O'Connor,45338,"1,378,435"
711,https://m.media-amazon.com/images/M/MV5BMjAwMT...,The Jungle Book,1967,U,78 min,"Animation, Adventure, Family",7.6,Bagheera the Panther and Baloo the Bear have a...,65.0,Wolfgang Reitherman,Phil Harris,Sebastian Cabot,Louis Prima,Bruce Reitherman,166409,"141,843,612"
712,https://m.media-amazon.com/images/M/MV5BZjQyMG...,A Hard Day's Night,1964,U,87 min,"Comedy, Music, Musical",7.6,"Over two ""typical"" days in the life of The Bea...",96.0,Richard Lester,John Lennon,Paul McCartney,George Harrison,Ringo Starr,40351,"13,780,024"
713,https://m.media-amazon.com/images/M/MV5BM2U3Yz...,From Here to Eternity,1953,Passed,118 min,"Drama, Romance, War",7.6,"In Hawaii in 1941, a private is cruelly punish...",85.0,Fred Zinnemann,Burt Lancaster,Montgomery Clift,Deborah Kerr,Donna Reed,43374,"30,500,000"

In [454]:
data_filt.isna().sum()
#aqui comprobamos que el nuevo dataset no tiene ningun valor nulo!!

Poster_Link      0
Series_Title     0
Released_Year    0
Certificate      0
Runtime          0
Genre            0
IMDB_Rating      0
Overview         0
Meta_score       0
Director         0
Star1            0
Star2            0
Star3            0
Star4            0
No_of_Votes      0
Gross            0
dtype: int64

In [455]:
data_filt.describe()

       IMDB_Rating  Meta_score   No_of_Votes
count   714.000000  714.000000  7.140000e+02
mean      7.937115   77.158263  3.561348e+05
std       0.293278   12.401144  3.539011e+05
min       7.600000   28.000000  2.522900e+04
25%       7.700000   70.000000  9.600975e+04
50%       7.900000   78.000000  2.366025e+05
75%       8.100000   86.000000  5.077922e+05
max       9.300000  100.000000  2.343110e+06

In [456]:
#consultamos el tipo de datos
data_filt.dtypes

Poster_Link       object
Series_Title      object
Released_Year     object
Certificate       object
Runtime           object
Genre             object
IMDB_Rating      float64
Overview          object
Meta_score       float64
Director          object
Star1             object
Star2             object
Star3             object
Star4             object
No_of_Votes        int64
Gross             object
dtype: object

In [457]:
#eliminamos la columna de imagen ya que no nos va a resultar util
columnas_drop=["Poster_Link","Gross","Overview","Certificate","Star2","Star3","Star4","Meta_score"]

In [458]:
data_filt_2= data_filt.drop(columns=columnas_drop)
data_filt_2

,Series_Title,Released_Year,Runtime,Genre,IMDB_Rating,Director,Star1,No_of_Votes
0,The Shawshank Redemption,1994,142 min,Drama,9.3,Frank Darabont,Tim Robbins,2343110
1,The Godfather,1972,175 min,"Crime, Drama",9.2,Francis Ford Coppola,Marlon Brando,1620367
2,The Dark Knight,2008,152 min,"Action, Crime, Drama",9.0,Christopher Nolan,Christian Bale,2303232
3,The Godfather: Part II,1974,202 min,"Crime, Drama",9.0,Francis Ford Coppola,Al Pacino,1129952
4,12 Angry Men,1957,96 min,"Crime, Drama",9.0,Sidney Lumet,Henry Fonda,689845
...,...,...,...,...,...,...,...,...
709,Giù la testa,1971,157 min,"Drama, War, Western",7.6,Sergio Leone,Rod Steiger,30144
710,Kelly's Heroes,1970,144 min,"Adventure, Comedy, War",7.6,Brian G. Hutton,Clint Eastwood,45338
711,The Jungle Book,1967,78 min,"Animation, Adventure, Family",7.6,Wolfgang Reitherman,Phil Harris,166409
712,A Hard Day's Night,1964,87 min,"Comedy, Music, Musical",7.6,Richard Lester,John Lennon,40351
713,From Here to Eternity,1953,118 min,"Drama, Romance, War",7.6,Fred Zinnemann,Burt Lancaster,43374

In [459]:
data_filt_2.dtypes.value_counts()

object     6
float64    1
int64      1
dtype: int64

In [460]:
data_filt_2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 714 entries, 0 to 713
Data columns (total 8 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Series_Title   714 non-null    object
 1   Released_Year  714 non-null    object
 2   Runtime        714 non-null    object
 3   Genre          714 non-null    object
 4   IMDB_Rating    714 non-null    float64
 5   Director       714 non-null    object
 6   Star1          714 non-null    object
 7   No_of_Votes    714 non-null    int64
dtypes: float64(1), int64(1), object(6)
memory usage: 44.8+ KB

In [461]:
data_filt_2['Released_Year'] = pd.to_numeric(data_filt_2['Released_Year'], errors='coerce')
data_filt_2['No_of_Votes'] = pd.to_numeric(data_filt_2['No_of_Votes'], errors='coerce')

In [462]:
data_filt_2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 714 entries, 0 to 713
Data columns (total 8 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Series_Title   714 non-null    object
 1   Released_Year  713 non-null    float64
 2   Runtime        714 non-null    object
 3   Genre          714 non-null    object
 4   IMDB_Rating    714 non-null    float64
 5   Director       714 non-null    object
 6   Star1          714 non-null    object
 7   No_of_Votes    714 non-null    int64
dtypes: float64(2), int64(1), object(5)
memory usage: 44.8+ KB

In [463]:
data_filt_2['Runtime'] = data_filt_2['Runtime'].str.replace(' min', '')
data_filt_2['Runtime'] = pd.to_numeric(data_filt_2['Runtime'], errors='coerce')

In [464]:
data_filt_2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 714 entries, 0 to 713
Data columns (total 8 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Series_Title   714 non-null    object
 1   Released_Year  713 non-null    float64
 2   Runtime        714 non-null    int64
 3   Genre          714 non-null    object
 4   IMDB_Rating    714 non-null    float64
 5   Director       714 non-null    object
 6   Star1          714 non-null    object
 7   No_of_Votes    714 non-null    int64
dtypes: float64(2), int64(2), object(4)
memory usage: 44.8+ KB

In [465]:
data_filt_2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 714 entries, 0 to 713
Data columns (total 8 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Series_Title   714 non-null    object
 1   Released_Year  713 non-null    float64
 2   Runtime        714 non-null    int64
 3   Genre          714 non-null    object
 4   IMDB_Rating    714 non-null    float64
 5   Director       714 non-null    object
 6   Star1          714 non-null    object
 7   No_of_Votes    714 non-null    int64
dtypes: float64(2), int64(2), object(4)
memory usage: 44.8+ KB

In [466]:
data_filt_2.dtypes

Series_Title      object
Released_Year    float64
Runtime            int64
Genre             object
IMDB_Rating      float64
Director          object
Star1             object
No_of_Votes        int64
dtype: object

In [467]:
print(data_filt_2["Genre"])

0                             Drama
1                      Crime, Drama
2              Action, Crime, Drama
3                      Crime, Drama
4                      Crime, Drama
                   ...
709             Drama, War, Western
710          Adventure, Comedy, War
711    Animation, Adventure, Family
712          Comedy, Music, Musical
713             Drama, Romance, War
Name: Genre, Length: 714, dtype: object

In [468]:

encoder = LabelEncoder()
encoded_data = encoder.fit_transform(data_filt_2['Series_Title'])
data_filt_2['Series_numerico'] = encoder.fit_transform(data_filt_2['Series_Title'])

In [469]:
data_filt_2.dtypes

Series_Title        object
Released_Year      float64
Runtime              int64
Genre               object
IMDB_Rating        float64
Director            object
Star1               object
No_of_Votes          int64
Series_numerico      int64
dtype: object

In [470]:
print(data_filt_2["Series_numerico"])

0      630
1      562
2      547
3      563
4        1
      ...
709    218
710    297
711    586
712     17
713    208
Name: Series_numerico, Length: 714, dtype: int64

In [471]:
# Buscamos el valor numérico correspondiente al título "Pulp Fiction"
valor_numerico = data_filt_2.loc[data_filt_2['Series_Title'] == 'Pulp Fiction', 'Series_numerico'].iloc[0]

# Mostramos el valor numérico
print(valor_numerico)

# Buscamos el título correspondiente al valor numérico 446
titulo = data_filt_2.loc[data_filt_2['Series_numerico'] == 446, 'Series_Title'].iloc[0]

# Mostramos el título
print(titulo)

446
Pulp Fiction

In [472]:
#asignamos valores numericos a Director
encoderD = LabelEncoder()
encoded_dataD = encoderD.fit_transform(data_filt_2['Director'])
data_filt_2['Director_numerico'] = encoderD.fit_transform(data_filt_2['Director'])

In [473]:
data_filt_2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 714 entries, 0 to 713
Data columns (total 10 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Series_Title       714 non-null    object
 1   Released_Year      713 non-null    float64
 2   Runtime            714 non-null    int64
 3   Genre              714 non-null    object
 4   IMDB_Rating        714 non-null    float64
 5   Director           714 non-null    object
 6   Star1              714 non-null    object
 7   No_of_Votes        714 non-null    int64
 8   Series_numerico    714 non-null    int64
 9   Director_numerico  714 non-null    int64
dtypes: float64(2), int64(4), object(4)
memory usage: 55.9+ KB

In [474]:
# Definimos el nombre del director que queremos buscar
nombre_director = "Woody Allen"

# Obtenemos el valor numérico correspondiente al nombre del director
valor_numerico_director = data_filt_2.loc[data_filt_2['Director'] == nombre_director, 'Director_numerico'].iloc[0]

# Filtramos el DataFrame para obtener las películas dirigidas por el director
peliculas_director = data_filt_2.loc[data_filt_2['Director_numerico'] == valor_numerico_director]

# Mostramos las películas dirigidas por el director
print(peliculas_director)

                 Series_Title  Released_Year  Runtime  \
277                Annie Hall         1977.0       93
356   Crimes and Misdemeanors         1989.0      104
358    Hannah and Her Sisters         1986.0      107
363                 Manhattan         1979.0       96
504         Midnight in Paris         2011.0       96
585  The Purple Rose of Cairo         1985.0       82
651               Match Point         2005.0      124

                        Genre  IMDB_Rating     Director               Star1  \
277           Comedy, Romance          8.0  Woody Allen         Woody Allen
356             Comedy, Drama          7.9  Woody Allen       Martin Landau
358             Comedy, Drama          7.9  Woody Allen          Mia Farrow
363    Comedy, Drama, Romance          7.9  Woody Allen         Woody Allen
504  Comedy, Fantasy, Romance          7.7  Woody Allen         Owen Wilson
585  Comedy, Fantasy, Romance          7.7  Woody Allen          Mia Farrow
651  Drama, Romance, Thriller          7.6  Woody Allen  Scarlett Johansson

     No_of_Votes  Series_numerico  Director_numerico
277       251823               45                393
356        54670              132                393
358        67176              239                393
363       131436              358                393
504       388089              367                393
585        47102              623                393
651       206294              362                393

In [475]:
#hacemos lo mismo con la estrella
encoderS= LabelEncoder()
encoded_dataS = encoderS.fit_transform(data_filt_2['Star1'])
data_filt_2['Star1_numerico'] = encoder.fit_transform(data_filt_2['Star1'])

In [476]:
nombre_star="Brad Pitt"
valor_numerico_star = data_filt_2.loc[data_filt_2['Star1'] == nombre_star, 'Star1_numerico'].iloc[0]

# Filtramos el DataFrame para obtener las películas de brad Pitt
peliculas_star = data_filt_2.loc[data_filt_2['Star1_numerico'] == valor_numerico_star]

# Mostramos las películas protagonizadas por Brad Pitt
print(peliculas_star)

                            Series_Title  Released_Year  Runtime  \
9                             Fight Club         1999.0      139
72                  Inglourious Basterds         2009.0      153
421  The Curious Case of Benjamin Button         2008.0      166
635                            Moneyball         2011.0      133

                       Genre  IMDB_Rating           Director      Star1  \
9                      Drama          8.8      David Fincher  Brad Pitt
72     Adventure, Drama, War          8.3  Quentin Tarantino  Brad Pitt
421  Drama, Fantasy, Romance          7.8      David Fincher  Brad Pitt
635  Biography, Drama, Sport          7.6     Bennett Miller  Brad Pitt

     No_of_Votes  Series_numerico  Director_numerico  Star1_numerico
9        1854740              199                 71              50
72       1267869              274                292              50
421       589160              546                 71              50
635       369529              377                 31              50

In [477]:
data_filt_2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 714 entries, 0 to 713
Data columns (total 11 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Series_Title       714 non-null    object
 1   Released_Year      713 non-null    float64
 2   Runtime            714 non-null    int64
 3   Genre              714 non-null    object
 4   IMDB_Rating        714 non-null    float64
 5   Director           714 non-null    object
 6   Star1              714 non-null    object
 7   No_of_Votes        714 non-null    int64
 8   Series_numerico    714 non-null    int64
 9   Director_numerico  714 non-null    int64
 10  Star1_numerico     714 non-null    int64
dtypes: float64(2), int64(5), object(4)
memory usage: 61.5+ KB

In [478]:
from sklearn.preprocessing import LabelEncoder

# Crear una instancia de LabelEncoder
encoder = LabelEncoder()

# Obtener una lista de todas las etiquetas de género en el DataFrame
generos = [genero.strip() for etiquetas in data_filt_2['Genre'] for genero in etiquetas.split(',')]

# Asignar un número entero a cada etiqueta de género
encoder.fit(generos)
numeros_generos = {genero: encoder.transform([genero])[0] + 1 for genero in generos}

# Crear una lista de listas con los números enteros de género para cada película
etiquetas_numericas = [list(map(lambda x: numeros_generos[x.strip()], etiquetas.split(','))) for etiquetas in data_filt_2['Genre']]

# Agregar una nueva columna al DataFrame con las etiquetas numéricas
data_filt_2['GenerosNumericos'] = etiquetas_numericas

# Imprimir el resultado
print(etiquetas_numericas)

[[7], [6, 7], [1, 6, 7], [6, 7], [6, 7], [1, 2, 7], [6, 7], [4, 7, 11], [1, 2, 17], [7], [1, 2, 7], [7, 16], [21], [1, 2, 7], [1, 17], [4, 6, 7], [1, 2, 9], [7], [5, 7, 19], [2, 7, 17], [6, 7], [3, 2, 8], [7, 20], [6, 7, 9], [5, 7, 16], [6, 7, 15], [6, 7, 19], [1, 2, 9], [1, 2, 7], [6, 7, 19], [7, 13], [4, 5, 7], [7, 15, 17], [6, 7, 19], [4, 7, 13], [1, 2, 7], [7], [6, 15, 19], [1, 6, 7], [3, 2, 7], [1, 17], [7, 16], [2, 5, 17], [21], [12, 15, 19], [7, 16, 20], [5, 7, 8], [5, 7, 16], [7], [3, 7, 9], [3, 1, 2], [1, 2, 7], [1, 2, 17], [3, 2, 8], [7, 21], [1, 2], [5, 7], [3, 2, 8], [7, 15, 19], [1, 7, 15], [15, 19], [3, 1, 2], [1, 2], [7, 12], [7, 15, 20], [12, 17], [5], [15, 19], [7, 19, 20], [7], [7], [7, 15, 20], [2, 7, 20], [7, 16, 17], [5, 16], [5, 6], [7], [7], [7, 16], [7, 8, 18], [3, 2, 5], [4, 7, 11], [6, 7, 19], [7, 20], [1, 2, 17], [4, 7, 11], [6, 7], [1, 2, 9], [2, 7, 19], [6, 7], [5, 6, 7], [6, 7, 17], [2, 17], [21], [2, 4, 7], [5, 7, 16], [2, 15, 19], [15, 16, 19], [5, 14, 16], [6, 7, 10], [7, 15], [4, 5, 7], [5, 6, 7], [7, 15, 16], [1, 7, 18], [15, 19], [3, 2, 5], [4, 6, 7], [7, 8, 18], [7], [7, 9, 20], [3, 2, 5], [1, 7, 17], [1, 2], [4, 7, 11], [3, 2, 8], [4, 7], [1, 5, 6], [6, 7, 15], [6, 7, 19], [6, 7], [7, 21], [1, 2], [3, 8, 9], [1, 19], [1, 7, 20], [4, 7, 18], [2, 5, 9], [2, 7, 11], [5, 13, 16], [6, 19], [7], [2, 7, 21], [7, 16], [7, 16, 19], [7], [1, 7, 17], [7, 19], [5, 7, 19], [2, 5, 6], [7, 15, 19], [4, 7, 11], [3, 2, 5], [4, 7, 11], [1, 4, 7], [1, 4, 7], [4, 6, 7], [3, 2, 7], [6, 7, 15], [1, 2, 17], [7], [2, 7, 9], [7, 13], [3, 1, 2], [2, 4, 7], [6, 7, 19], [7, 18], [4, 7, 11], [1, 7, 20], [7, 16], [6, 7, 15], [1, 6, 7], [3, 2, 5], [4, 6, 7], [7, 19], [3, 2, 5], [2, 7, 14], [7, 15, 19], [7, 13, 16], [5, 7], [5, 6, 16], [5, 6, 18], [7, 16], [7], [6, 7, 19], [7, 16], [7, 15, 16], [5, 6, 7], [1, 2, 17], [4, 6, 7], [5, 7], [2, 7], [7, 20], [7], [3, 2, 9], [12, 15, 17], [7, 9, 13], [7], [1, 17, 19], [5], [7, 20], [7, 18], [7, 15, 19], [5, 6, 7], [6, 7], [7, 12, 19], [2, 7, 11], [2, 7, 20], [6, 7, 19], [7, 10], [10, 15, 19], [7, 15, 16], [5, 7], [7, 11, 16], [5, 16], [5, 7, 13], [4, 7], [2, 7, 17], [3, 2, 5], [3, 2, 7], [7, 8], [7, 13, 16], [7], [1, 6, 19], [4, 7, 19], [1, 2, 5], [1, 7, 15], [7, 16, 17], [4, 7, 13], [1, 2, 7], [7, 16], [4, 7, 11], [7], [1, 2, 5], [7, 15], [7], [7, 16], [7, 19], [1, 6, 7], [1, 2, 17], [3, 4, 7], [4, 7], [4, 7], [2, 7, 19], [1, 15, 19], [6, 7, 16], [6, 19], [4, 7], [3, 2, 5], [1, 2, 19], [1, 6, 19], [7, 16], [4, 7], [4, 7, 11], [5, 7, 14], [1, 6, 7], [1, 2, 9], [2, 7, 9], [3, 1, 2], [6, 7], [7, 15, 17], [7], [6, 7, 14], [4, 7], [7], [7], [3, 1, 2], [7], [5, 7], [15, 17, 19], [3, 1, 6], [3, 8, 9], [5, 9, 16], [6, 7], [7], [3, 2, 5], [7, 11, 19], [3, 8, 9], [2, 7, 21], [5, 7], [7], [2, 8, 9], [7, 9, 16], [7, 20], [1, 17], [4, 7, 11], [5, 7], [5, 16], [2, 19], [4, 6, 7], [5], [4, 6, 7], [12], [7, 16], [7, 8, 14], [7], [4, 6, 7], [2, 17], [5, 7, 16], [4, 7, 8], [7, 16, 20], [1, 7, 21], [7, 18], [5, 7], [1, 7, 21], [6, 7, 10], [7], [7], [7, 16, 20], [7, 11], [2, 8, 9], [7, 20], [5, 6, 7], [6, 7], [5, 7, 16], [7, 16], [7], [3, 2, 5], [2, 5, 7], [5, 7], [5, 7, 13], [1, 2, 5], [6, 7, 19], [5, 7, 20], [7, 17], [1, 2, 17], [7, 16], [1, 2, 17], [5, 7, 16], [1, 2, 17], [7, 16], [4, 6, 7], [6, 7], [7, 15, 17], [6, 7, 9], [1, 17, 19], [7, 18], [7], [1, 2, 17], [5, 6, 7], [1, 2, 7], [2, 7, 9], [2, 7, 9], [3, 2, 5], [7, 13], [1, 2, 17], [5, 12], [6, 7, 15], [2, 8, 9], [1, 2, 11], [7, 15, 16], [5, 7, 20], [3, 1, 6], [1, 15, 19], [6, 7, 19], [2, 7, 17], [2, 5, 7], [7, 15, 19], [3, 2, 5], [7], [6, 7], [6, 7, 16], [7, 13, 15], [6, 7, 19], [7, 9, 16], [4, 7], [5, 7], [6, 7, 19], [5, 7], [7, 17], [5, 13], [5, 8], [1, 2, 5], [5, 7, 16], [7, 13, 14], [1, 2, 12], [4, 7, 11], [2, 7, 9], [5], [4, 7, 20], [1, 2, 21], [6, 7, 15], [5, 15, 16], [2, 4, 7], [7, 19, 21], [6, 10, 19], [7, 10, 16], [1, 2, 16], [2, 12, 17], [7], [1, 7, 11], [4, 7, 11], [2, 5, 8], [3, 1, 2], [7], [7, 11, 20], [1, 2, 17], [1, 2, 17], [6, 7, 15], [7, 16], [3, 4, 6], [7, 15], [7, 16], [3, 1, 2], [5, 7, 9], [3, 4, 7], [3, 2, 5], [6, 7, 15], [5, 7, 16], [3, 1, 2], [4, 5, 7], [6, 7, 15], [2, 4, 6], [4, 7, 11], [6, 7, 15], [2, 9], [7, 11, 15], [6, 7, 15], [4, 7, 18], [1, 19], [7, 11, 20], [7, 13, 16], [2, 9], [7, 15, 16], [6, 7], [4, 6, 7], [1, 2, 9], [7, 9, 16], [1, 2, 7], [5, 7], [1, 5, 15], [7, 9, 16], [7, 8, 14], [5, 6, 7], [7, 16], [4, 7, 18], [3, 2, 5], [1, 2, 17], [4, 7, 13], [7, 16], [2, 4, 7], [6, 7], [3, 5, 7], [1, 2, 7], [3, 7, 9], [4, 7, 18], [1, 2, 9], [7], [2, 7, 16], [1, 6, 19], [4, 7, 19], [4, 7, 8], [3, 2, 5], [7, 16], [7, 17, 19], [1, 7, 15], [7], [4, 5, 7], [7], [1, 4, 7], [5, 7, 8], [7, 16], [1, 6, 7], [6, 7, 16], [5, 7], [7, 9, 13], [6, 7], [7, 19], [4, 7], [4, 7, 11], [2, 5, 17], [6, 7, 11], [1, 2, 17], [1, 5, 9], [5], [5, 6, 7], [2, 5, 8], [7], [5, 7], [4, 7, 11], [1, 5, 9], [2, 4, 7], [5, 6, 7], [8, 17], [7], [21], [7, 15, 19], [3, 17], [6, 7, 19], [7, 13, 14], [8, 9, 14], [7], [7, 8, 14], [5, 8, 9], [1, 7, 11], [12], [1, 2, 5], [6, 7, 15], [12, 15, 19], [1, 2, 19], [5, 7, 16], [5, 12], [3, 7, 8], [4, 7, 16], [1, 2, 5], [7, 16], [5, 7], [5, 7], [7, 16], [7, 18], [1, 2, 17], [2, 5, 7], [3, 2, 5], [3, 2, 7], [5, 9, 16], [3, 1, 2], [7, 17, 19], [1, 2, 17], [4, 7], [1, 2, 17], [5], [1, 2, 19], [5, 7, 16], [4, 7, 19], [5, 7, 16], [2, 8, 9], [3, 2, 5], [4, 7, 11], [3, 7, 9], [4, 6, 7], [5, 7, 16], [7, 17, 19], [7], [4, 7, 11], [6, 7, 15], [1, 6, 7], [7, 11, 13], [4, 7, 13], [3, 2, 5], [7, 19, 20], [7, 16], [1, 6, 7], [6, 7, 19], [1, 5, 9], [1, 15, 19], [7, 19], [4, 7, 13], [5, 7], [2, 8, 9], [1, 6, 7], [3, 7, 8], [1, 7], [7], [5, 7, 16], [7], [7], [5, 7], [7, 11, 20], [6, 7, 19], [7, 19], [7, 13], [5, 7, 13], [6, 19], [3, 1, 9], [2, 5, 6], [3, 5, 9], [5], [6, 7, 19], [5, 7, 16], [5, 7, 9], [5, 7, 16], [1, 2, 17], [5], [4, 6, 7], [4, 7, 13], [6, 7, 15], [7, 8, 9], [4, 5, 7], [5], [5, 7], [7], [5, 7, 8], [4, 7, 11], [1, 2, 7], [6, 7, 15], [7, 19], [7], [5, 7, 19], [6, 7, 19], [3, 2, 5], [5, 7], [4, 7, 11], [1, 7, 11], [6, 7, 15], [7, 15, 19], [5, 9, 16], [5, 6, 7], [7], [1, 2, 17], [1, 2], [7], [5], [12, 19], [7, 19], [5, 21], [4, 6, 7], [1, 6, 7], [2, 7, 19], [1, 6, 7], [1, 6, 19], [5], [4, 7, 11], [1, 2, 19], [7, 12, 15], [1, 2, 21], [2, 7, 16], [3, 8, 9], [7, 15, 19], [5, 7], [7], [7], [7], [2, 5, 7], [7], [1, 2, 5], [1, 6, 7], [1, 4, 7], [7, 11, 19], [3, 1, 2], [3, 2, 5], [1, 6, 7], [7, 18], [6, 7], [1, 6, 7], [4, 5, 7], [1, 2, 7], [1, 19], [1, 6, 7], [3, 2, 8], [7, 13, 16], [7, 21], [7, 16], [3, 5, 6], [5, 7, 16], [1, 5, 6], [4, 7, 18], [7, 12, 19], [2, 5, 9], [1, 2, 15], [4, 7, 18], [7], [7], [1, 6, 7], [2, 8, 9], [6, 7, 15], [6, 7, 15], [4, 7, 13], [1, 4, 7], [7, 9, 15], [1, 2, 8], [1, 7], [7, 16, 19], [1, 7, 15], [1, 6, 7], [12, 15, 19], [7], [7], [5, 7, 16], [7, 15, 16], [5, 7], [6, 7, 19], [6, 7, 19], [4, 7, 8], [7], [7, 17, 19], [7, 12, 17], [5, 7], [7], [2, 8, 9], [12, 15, 19], [4, 6, 7], [7, 11, 20], [1, 6, 15], [4, 7, 18], [5, 6, 7], [6, 7, 19], [7, 20], [3, 2, 8], [2, 5, 7], [15, 17, 19], [6, 7, 19], [15, 19], [7, 16], [1, 2, 19], [2, 7, 9], [7, 16], [2, 7, 11], [5, 7, 16], [1, 6, 7], [5], [5, 6], [3, 7, 16], [5, 6], [5, 8], [6, 7], [5, 7, 16], [3, 8, 9], [5, 6], [5, 7], [1, 6, 19], [6, 7, 19], [7], [1, 2, 17], [1, 6, 19], [2, 5, 8], [1, 4, 6], [4, 6, 7], [7, 17], [5, 6, 7], [7, 20, 21], [2, 5, 20], [3, 2, 8], [5, 13, 14], [7, 16, 20]]

In [479]:
data_filt_2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 714 entries, 0 to 713
Data columns (total 12 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Series_Title       714 non-null    object
 1   Released_Year      713 non-null    float64
 2   Runtime            714 non-null    int64
 3   Genre              714 non-null    object
 4   IMDB_Rating        714 non-null    float64
 5   Director           714 non-null    object
 6   Star1              714 non-null    object
 7   No_of_Votes        714 non-null    int64
 8   Series_numerico    714 non-null    int64
 9   Director_numerico  714 non-null    int64
 10  Star1_numerico     714 non-null    int64
 11  GenerosNumericos   714 non-null    object
dtypes: float64(2), int64(5), object(5)
memory usage: 67.1+ KB

In [480]:
from sklearn.preprocessing import LabelEncoder

# Crear una instancia de LabelEncoder
encoder = LabelEncoder()

# Obtener una lista de todas las etiquetas de género en el DataFrame
generos = [genero.strip() for etiquetas in data['Genre'] for genero in etiquetas.split(',')]

# Asignar un número entero a cada etiqueta de género
encoder.fit(generos)
numeros_generos = {genero: encoder.transform([genero])[0] + 1 for genero in generos}

# Crear una lista de listas con los números enteros de género para cada película
etiquetas_numericas = [list(map(lambda x: numeros_generos[x.strip()], etiquetas.split(','))) for etiquetas in data['Genre']]

# Agregar una nueva columna al DataFrame con las etiquetas numéricas
data['GenerosNumericos'] = etiquetas_numericas

# Imprimir el resultado
print(etiquetas_numericas)

[[7], [6, 7], [1, 6, 7], [6, 7], [6, 7], [1, 2, 7], [6, 7], [4, 7, 11], [1, 2, 17], [7], [1, 2, 7], [7, 16], [21], [1, 2, 7], [1, 17], [4, 6, 7], [1, 2, 9], [7], [4, 7, 11], [5, 7, 19], [7], [2, 7, 17], [6, 7], [3, 2, 8], [7, 20], [6, 7, 9], [5, 7, 16], [6, 7, 15], [6, 7, 19], [1, 2, 9], [1, 7, 15], [1, 2, 7], [7, 8, 9], [6, 7, 19], [7, 13], [4, 5, 7], [7, 15, 17], [6, 7, 19], [4, 7, 13], [1, 2, 7], [7], [6, 15, 19], [1, 6, 7], [3, 2, 7], [1, 17], [7, 16], [3, 7, 20], [2, 5, 17], [21], [12, 15, 19], [7, 16, 20], [5, 7, 8], [5, 7, 16], [7], [4, 7, 11], [1, 6, 7], [3, 7, 9], [1, 4, 7], [3, 1, 2], [1, 2, 7], [1, 2, 17], [3, 2, 8], [7, 21], [1, 2], [5, 7], [7, 8], [3, 2, 8], [7, 15, 19], [1, 7, 15], [15, 19], [3, 1, 2], [6, 7], [1, 2], [7, 12], [7, 15, 20], [12, 17], [7, 14], [6, 7, 15], [5], [6, 7, 15], [7, 20], [15, 19], [7, 10], [5, 7, 20], [7, 19, 20], [7, 9, 12], [6, 7, 13], [6, 7, 19], [7], [7], [7, 15, 20], [7], [7, 8], [2, 7, 20], [7, 16, 17], [5, 16], [5, 6], [7], [7], [7, 16], [7, 8, 18], [3, 2, 5], [4, 7, 11], [6, 7, 19], [7, 20], [7, 19, 20], [1, 2, 17], [4, 7, 11], [6, 7], [1, 2, 9], [2, 7, 19], [6, 7], [5, 6, 7], [6, 7, 17], [2, 17], [21], [2, 4, 7], [5, 7, 16], [2, 15, 19], [15, 16, 19], [5, 14, 16], [7], [7], [6, 7, 10], [7, 15], [6, 15, 19], [7, 17], [5, 7, 8], [5, 7], [1, 7, 20], [1, 7], [4, 5, 7], [5, 6, 7], [6, 7, 15], [1, 7], [3, 2, 5], [6, 7, 15], [2, 5, 7], [7, 20], [4, 7, 18], [1, 5, 6], [7], [1, 4, 6], [7, 15, 16], [1, 7, 18], [15, 19], [3, 2, 5], [4, 6, 7], [7, 8, 18], [7], [7, 9, 20], [3, 2, 5], [1, 7, 17], [5, 6, 7], [7], [1, 2], [7], [4, 7, 11], [3, 2, 8], [4, 7], [1, 5, 6], [1, 5, 6], [6, 7, 15], [6, 7, 19], [6, 7, 19], [6, 7], [1, 5, 16], [7, 21], [1, 2], [5, 6, 7], [3, 8, 9], [1, 19], [1, 7, 20], [4, 7, 18], [7, 17], [7, 13], [4, 7, 11], [1, 2, 5], [2, 5, 9], [2, 7, 11], [6, 7], [1, 7, 19], [7, 20], [5, 13, 16], [7, 16], [7, 9, 11], [6, 7, 19], [6, 19], [7], [6, 7, 15], [7], [2, 7, 21], [5, 20], [2, 5, 7], [1, 5, 16], [7, 16], [7, 19], [3, 7, 8], [6, 7, 15], [7, 16, 19], [7], [1, 6, 7], [1, 7, 17], [7, 19], [5, 7, 19], [3, 2, 5], [7], [5, 7, 14], [5, 7, 9], [2, 5, 6], [7, 15, 19], [3, 7, 9], [4, 7, 11], [3, 2, 5], [5, 7, 16], [4, 7, 11], [1, 4, 7], [1, 4, 7], [4, 6, 7], [3, 2, 7], [15, 19], [5, 7], [6, 7, 15], [1, 2, 17], [1, 6, 7], [7], [2, 7, 9], [7, 13], [4, 7, 8], [3, 5, 7], [3, 1, 2], [2, 4, 7], [6, 7, 19], [5, 7, 16], [7, 18], [4, 7, 11], [1, 7, 20], [7, 16], [5, 7, 14], [6, 7, 15], [5, 7, 16], [1, 6, 7], [3, 2, 5], [4, 6, 7], [7, 19], [3, 2, 5], [3, 1, 7], [2, 7, 14], [7, 15, 19], [7, 13, 16], [5, 7], [5, 6, 16], [5, 6, 18], [7, 16], [7], [6, 7, 19], [5, 7, 20], [6, 7], [7, 16], [7, 16], [7, 15, 16], [5, 6, 7], [1, 2, 17], [4, 6, 7], [7, 13, 16], [7, 11, 16], [5, 7], [2, 7], [7, 20], [7], [3, 2, 9], [12, 15, 17], [7, 9, 13], [2, 7], [7], [1, 17, 19], [4, 7], [5], [7, 20], [7, 18], [7], [2, 7, 11], [4, 7], [7, 15, 19], [5, 6, 7], [7], [7, 15, 17], [6, 7, 15], [6, 7], [7, 19], [4, 7, 11], [7, 20], [7, 9], [7, 12, 19], [1, 5, 6], [7, 21], [7, 20], [7], [4, 7, 11], [6, 7], [2, 7, 11], [2, 7], [7], [7, 11], [2, 7, 20], [6, 7, 19], [2, 7, 19], [7, 10], [1, 6, 7], [10, 15, 19], [7, 13, 16], [5, 7, 16], [7, 15, 16], [5, 7], [7, 11, 16], [7, 20], [5, 16], [4, 7, 11], [5, 16], [7, 16], [1, 2, 5], [9, 12, 15], [5, 7], [2, 4, 7], [7, 11], [1, 2, 5], [1, 6, 19], [5, 7, 13], [4, 7], [2, 7, 17], [3, 2, 5], [1, 7], [3, 2, 7], [7, 8], [7, 13, 16], [6, 7, 19], [7], [1, 6, 19], [4, 7, 19], [1, 2, 5], [1, 7, 15], [7, 16, 17], [4, 7, 13], [1, 2, 7], [7, 16], [1, 6, 7], [4, 7, 11], [7], [1, 2, 5], [7, 15], [7, 16], [1, 4, 7], [7], [1, 7, 19], [7, 16], [7, 19], [1, 6, 7], [1, 2, 17], [3, 4, 7], [4, 7], [4, 7], [2, 7, 19], [1, 15, 19], [6, 7, 16], [6, 19], [4, 7], [2, 5, 17], [3, 2, 5], [1, 2, 19], [1, 6, 19], [7], [7, 16], [4, 7], [4, 7, 11], [5, 7, 14], [1, 6, 7], [1, 2, 9], [2, 7, 9], [3, 1, 2], [5, 7, 16], [6, 7], [5, 7], [7, 15, 17], [7], [6, 7, 14], [4, 7], [3, 6, 15], [7], [7], [3, 1, 2], [1, 6, 5], [7], [5, 7], [15, 17, 19], [3, 1, 6], [3, 8, 9], [5, 9, 16], [6, 7], [7], [3, 2, 5], [7, 11, 19], [3, 8, 9], [2, 7, 21], [5, 7], [7], [3, 1, 17], [2, 8, 9], [7, 9, 16], [7, 20], [3, 2, 7], [1, 17], [4, 7, 11], [7, 11, 20], [5, 7], [5, 16], [2, 19], [4, 6, 7], [5], [4, 6, 7], [12], [15, 19], [7, 16], [7, 8, 14], [7], [4, 6, 7], [7, 12], [2, 17], [5, 7, 16], [7], [4, 7, 8], [7, 16, 20], [1, 7, 21], [7], [7], [7, 18], [5, 7], [1, 7, 21], [6, 7, 15], [6, 7, 10], [7], [7, 10], [6, 7, 10], [6, 7, 10], [7], [6, 7, 12], [5, 7, 20], [5, 16], [7], [7, 10, 15], [5, 6], [6, 7, 15], [6, 7, 10], [7, 16], [7, 10, 15], [7, 16, 20], [5, 6, 19], [10, 15], [7, 11], [2, 8, 9], [5, 7], [5, 6, 15], [7, 20], [7, 11, 19], [5, 6, 7], [5, 7, 16], [6, 7], [5, 7, 16], [7, 16], [7], [3, 2, 5], [2, 5, 7], [5, 7], [5, 7, 13], [1, 2, 5], [6, 7, 19], [5, 7, 20], [7, 17], [1, 2, 17], [7, 16], [1, 2, 17], [6, 7], [5, 7, 16], [1, 2, 17], [7, 16], [4, 6, 7], [6, 7], [7, 15, 17], [6, 7, 9], [1, 17, 19], [7, 18], [5, 7, 16], [7], [7], [1, 2, 17], [5, 6, 7], [7, 9, 15], [1, 2, 7], [2, 7, 9], [2, 7, 9], [3, 2, 5], [5, 7], [7, 13], [1, 2, 17], [5, 12], [7, 16], [6, 7, 15], [2, 8, 9], [1, 2, 11], [7, 15, 16], [5, 7, 20], [3, 1, 6], [1, 15, 19], [6, 7, 19], [2, 7, 17], [2, 5, 7], [7, 15, 19], [3, 2, 5], [7], [3, 7, 8], [6, 7], [6, 7, 16], [7, 13, 15], [3, 1, 2], [6, 7, 19], [7, 9, 16], [4, 7], [5, 7], [6, 7, 19], [5, 7], [7, 17], [5, 13], [5, 8], [1, 2, 5], [5, 7, 16], [7, 13, 14], [1, 2, 12], [4, 7, 11], [2, 7, 9], [5, 7, 8], [5], [1, 2, 4], [5, 7, 16], [4, 7, 20], [1, 2, 21], [12, 19], [4, 7, 11], [6, 7, 15], [5, 15, 16], [7, 19], [2, 4, 7], [7, 15], [7, 16], [2, 7], [2, 7, 21], [7], [7, 19, 21], [6, 10, 19], [5, 7, 9], [5, 7, 8], [7, 10, 16], [6, 10, 15], [7, 10], [5, 16], [5, 7, 16], [1, 2, 16], [5, 13, 14], [2, 12, 17], [7, 12], [9, 12], [1, 5, 6], [1, 7, 19], [7, 13], [7], [1, 7, 11], [5, 7], [4, 7, 11], [2, 5, 8], [1, 6, 7], [3, 1, 2], [4, 7, 18], [7], [7, 11, 20], [1, 2, 17], [1, 2, 17], [6, 7, 15], [7, 16], [3, 4, 6], [4, 5, 7], [7, 15], [7], [7, 16], [5, 16], [3, 1, 2], [5, 7, 9], [5, 7, 8], [3, 4, 7], [3, 2, 5], [6, 7, 15], [5, 7, 16], [3, 1, 2], [4, 5, 7], [7, 19], [1, 6, 7], [6, 7, 15], [2, 4, 6], [1, 6, 7], [4, 7, 11], [6, 7, 15], [1, 6, 19], [2, 9], [7, 11, 15], [6, 7, 15], [7, 11, 19], [5, 7], [4, 7, 18], [1, 19], [7, 11, 20], [7, 13, 16], [2, 9], [7], [7, 15, 16], [6, 7], [4, 6, 7], [1, 2, 9], [7, 9, 16], [1, 2, 7], [5, 7], [1, 5, 15], [7, 9, 16], [7, 8, 14], [5, 6, 7], [7, 16], [4, 7, 18], [3, 2, 5], [1, 2, 17], [4, 7, 13], [7], [7, 16], [2, 4, 7], [6, 7], [3, 5, 7], [1, 7, 19], [1, 2, 7], [3, 7, 9], [4, 7, 18], [1, 2, 9], [7], [2, 7, 16], [1, 6, 19], [4, 7, 19], [4, 7, 8], [3, 2, 5], [7, 16], [6, 7, 16], [7, 17, 19], [1, 7, 15], [7], [4, 5, 7], [7], [1, 4, 7], [5, 7, 8], [7, 16], [5, 7], [1, 6, 7], [6, 7, 16], [3, 1, 6], [1, 6, 19], [5, 7], [7, 9, 13], [6, 7], [7, 19], [4, 7], [3, 2, 7], [4, 7, 11], [1, 6, 7], [2, 5, 17], [6, 7, 11], [1, 2, 17], [1, 5, 9], [5], [5, 6, 7], [2, 5, 8], [7], [5, 7], [4, 7, 11], [1, 5, 9], [2, 4, 7], [5, 6, 7], [8, 17], [7], [7, 16], [21], [2, 11, 20], [7, 15, 19], [3, 17], [6, 7, 19], [1, 6, 7], [7, 13, 14], [8, 9, 14], [7], [19], [5, 7], [1, 4, 6], [7, 8, 14], [5, 8, 9], [1, 7, 11], [7, 16], [12], [6, 7], [1, 2, 7], [1, 6, 7], [2, 5, 10], [10, 19], [2, 7, 21], [15, 19], [5, 8, 16], [7, 12, 17], [5, 14, 20], [1, 6, 7], [7, 12, 17], [7], [7, 16], [1, 2, 5], [6, 7, 15], [12, 15, 19], [1, 2, 19], [5, 7, 16], [5, 12], [3, 7, 8], [4, 7, 16], [1, 2, 5], [7, 16], [5, 7], [5, 7], [7, 16], [7, 18], [7, 13, 16], [1, 2, 17], [7, 13, 14], [2, 5, 7], [3, 2, 5], [3, 2, 7], [7], [5, 9, 16], [3, 1, 2], [7, 17, 19], [1, 2, 17], [7, 20], [4, 7], [1, 2, 17], [5], [1, 2, 19], [5, 7, 16], [4, 7, 19], [5, 7, 16], [2, 8, 9], [3, 2, 5], [4, 7, 11], [3, 7, 9], [4, 6, 7], [5, 7, 16], [3, 2, 5], [6, 7, 9], [6, 7], [7, 17, 19], [7], [4, 7, 11], [6, 7, 15], [1, 6, 7], [7, 11, 13], [4, 7, 13], [3, 2, 5], [7, 19, 20], [7, 16], [1, 6, 7], [6, 7, 19], [1, 5, 9], [1, 15, 19], [7, 19], [4, 7, 13], [5, 7], [2, 8, 9], [1, 6, 7], [3, 7, 8], [1, 7], [7], [5, 7, 16], [7], [7], [5, 7], [7, 11, 20], [6, 7, 19], [7, 19], [7, 13], [5, 7, 13], [6, 19], [3, 1, 9], [2, 5, 6], [2, 5, 7], [3, 5, 9], [5], [5, 7], [6, 7, 19], [5, 7, 16], [7, 15, 17], [5, 7, 9], [5, 7, 16], [1, 2, 17], [5], [4, 6, 7], [4, 7, 13], [6, 7, 15], [7], [7, 8, 9], [5, 6, 7], [4, 5, 7], [5], [5, 7], [7], [5, 7, 8], [4, 7, 11], [1, 2, 7], [3, 2, 5], [6, 7, 15], [7, 19], [7], [5, 7, 19], [6, 7, 19], [3, 2, 5], [15, 19], [5, 7], [4, 7, 11], [1, 7, 11], [6, 7, 15], [7, 15, 19], [5, 9, 16], [5, 6, 7], [5], [7], [1, 2, 17], [1, 2], [7], [5], [3, 2, 8], [12, 19], [7, 19], [5, 20], [1, 6, 19], [5, 21], [4, 6, 7], [1, 6, 7], [2, 7, 19], [1, 6, 7], [1, 6, 19], [1, 2, 20], [5], [1, 2, 20], [7, 16], [4, 7, 11], [7, 12, 19], [7, 11, 20], [1, 2, 19], [7, 12, 15], [7, 19], [7, 12, 19], [1, 2, 21], [7, 12], [7, 12, 17], [7], [5, 6], [5, 7, 16], [5, 7, 16], [7, 17], [2, 7, 16], [7, 10, 16], [3, 8, 9], [12, 17], [4, 7, 11], [7, 15, 19], [5, 7], [7], [7], [4, 6, 7], [7], [2, 5, 7], [6, 7, 16], [7], [1, 2, 5], [1, 6, 7], [1, 4, 7], [7, 11, 19], [3, 1, 2], [3, 2, 5], [1, 6, 7], [7, 18], [6, 7], [1, 6, 7], [4, 5, 7], [1, 2, 7], [15, 19], [1, 19], [1, 6, 7], [3, 2, 8], [7, 13, 16], [7, 21], [7, 16], [3, 5, 6], [5, 7, 16], [1, 5, 6], [1, 2, 6], [4, 7, 18], [7, 12, 19], [2, 5, 9], [7, 19], [1, 2, 15], [4, 7, 18], [7], [7], [1, 6, 7], [2, 8, 9], [3, 2, 8], [6, 7, 15], [6, 7, 15], [4, 7, 13], [1, 4, 7], [7, 9, 15], [6, 7, 19], [1, 2, 8], [1, 7], [7, 16, 19], [1, 7, 15], [1, 6, 7], [12, 15, 19], [7], [7], [5, 7, 16], [7, 15, 16], [5, 7], [6, 7, 19], [6, 7, 19], [4, 7, 8], [7], [7, 17, 19], [7, 12, 17], [1, 2, 7], [5, 7], [7], [2, 8, 9], [12, 15, 19], [4, 6, 7], [7, 11, 20], [1, 6, 15], [4, 7, 18], [5, 6, 7], [6, 7, 19], [7, 20], [3, 2, 8], [2, 5, 7], [6, 7, 19], [15, 17, 19], [6, 7, 19], [15, 19], [7, 16], [1, 2, 19], [2, 7, 9], [7, 16], [2, 7, 11], [5, 7, 16], [1, 6, 7], [5], [5, 6], [3, 7, 16], [5, 6], [5, 8], [6, 7], [5, 7, 16], [3, 8, 9], [5, 6], [5, 7], [1, 6, 19], [6, 7, 19], [7], [1, 2, 17], [1, 6, 19], [2, 5, 8], [1, 4, 6], [3, 2, 7], [4, 6, 7], [7, 17], [5, 6, 7], [7, 20, 21], [2, 5, 20], [3, 2, 8], [7, 15, 19], [5, 13, 14], [5, 7, 16], [7, 21], [7, 16, 20], [7, 20], [6, 15, 19]]

In [481]:
data_filt_2['GenerosNumericos'] = pd.to_numeric(data_filt_2['GenerosNumericos'], errors='coerce')

In [482]:
data_filt_2.info

<bound method DataFrame.info of                  Series_Title  Released_Year  Runtime  \
0    The Shawshank Redemption         1994.0      142
1               The Godfather         1972.0      175
2             The Dark Knight         2008.0      152
3      The Godfather: Part II         1974.0      202
4                12 Angry Men         1957.0       96
..                        ...            ...      ...
709              Giù la testa         1971.0      157
710            Kelly's Heroes         1970.0      144
711           The Jungle Book         1967.0       78
712        A Hard Day's Night         1964.0       87
713     From Here to Eternity         1953.0      118

                            Genre  IMDB_Rating              Director  \
0                           Drama          9.3        Frank Darabont
1                    Crime, Drama          9.2  Francis Ford Coppola
2            Action, Crime, Drama          9.0     Christopher Nolan
3                    Crime, Drama          9.0  Francis Ford Coppola
4                    Crime, Drama          9.0          Sidney Lumet
..                            ...          ...                   ...
709           Drama, War, Western          7.6          Sergio Leone
710        Adventure, Comedy, War          7.6       Brian G. Hutton
711  Animation, Adventure, Family          7.6   Wolfgang Reitherman
712        Comedy, Music, Musical          7.6        Richard Lester
713           Drama, Romance, War          7.6        Fred Zinnemann

              Star1  No_of_Votes  Series_numerico  Director_numerico  \
0       Tim Robbins      2343110              630                103
1     Marlon Brando      1620367              562                100
2    Christian Bale      2303232              547                 59
3         Al Pacino      1129952              563                100
4       Henry Fonda       689845                1                338
..              ...          ...              ...                ...
709     Rod Steiger        30144              218                335
710  Clint Eastwood        45338              297                 44
711     Phil Harris       166409              586                392
712     John Lennon        40351               17                302
713  Burt Lancaster        43374              208                106

     Star1_numerico  GenerosNumericos
0               434               NaN
1               305               NaN
2                89               NaN
3                 5               NaN
4               184               NaN
..              ...               ...
709             381               NaN
710              95               NaN
711             357               NaN
712             242               NaN
713              64               NaN

[714 rows x 12 columns]>

In [483]:
data_filt_2.dtypes

Series_Title          object
Released_Year        float64
Runtime                int64
Genre                 object
IMDB_Rating          float64
Director              object
Star1                 object
No_of_Votes            int64
Series_numerico        int64
Director_numerico      int64
Star1_numerico         int64
GenerosNumericos     float64
dtype: object

In [500]:
data_filt_3 = data_filt_2.copy()

In [501]:
columnas_drop= ["Series_Title",
                "Genre",
                "Director",
                "Star1", "GenerosNumericos", "Series_numerico", "Director_numerico", "Star1_numerico"]

data_filt_3 = data_filt_3.drop(columns=columnas_drop)

In [502]:
data_filt_3.dtypes

Released_Year    float64
Runtime            int64
IMDB_Rating      float64
No_of_Votes        int64
dtype: object

In [508]:
# Generar la lista de features y la variable target
target = 'IMDB_Rating'
features = [x for x in data_filt_3.columns if x!=target]

print(target)
print(features)

IMDB_Rating
['Released_Year', 'Runtime', 'No_of_Votes']

In [509]:
data_filt_3[target]

0      9.3
1      9.2
2      9.0
3      9.0
4      9.0
      ...
709    7.6
710    7.6
711    7.6
712    7.6
713    7.6
Name: IMDB_Rating, Length: 714, dtype: float64

In [510]:

data_filt_3 = data_filt_3.dropna()

In [511]:
data_filt_3.isna().sum()

Released_Year    0
Runtime          0
IMDB_Rating      0
No_of_Votes      0
dtype: int64

In [512]:
# Importar el algoritmo de árboles de decisión
from sklearn.tree import DecisionTreeRegressor

# Asignar el algortimo e indicar la profundidad máxima del árbol (con un número rotandamente grande para sobreajustar)
arbol_importancia = DecisionTreeRegressor(max_depth=len(features)+10, random_state=100)

# Entrenar un árbol con todo el conjunto de datos
arbol_importancia.fit(X=data_filt_3[features], y=data_filt_3[target])

DecisionTreeRegressor(max_depth=13, random_state=100)

In [513]:
y_pred_arbol = arbol_importancia.predict(X=data_filt_3[features])

from sklearn.metrics import mean_absolute_error
from sklearn.metrics import mean_absolute_percentage_error
from sklearn.metrics import mean_squared_error
from sklearn.metrics import r2_score

# Métricas para evaluar la calidad del modelo
print('Mean Absolute Error:', mean_absolute_error(data_filt_3[target], y_pred_arbol))
print('Mean Absolute Percentage Error:', mean_absolute_percentage_error(data_filt_3[target], y_pred_arbol)*100)
print('Mean Squared Error:', mean_squared_error(data_filt_3[target], y_pred_arbol))
print('Root Mean Squared Error:', np.sqrt(mean_squared_error(data_filt_3[target], y_pred_arbol)))
print('R^2 coefficient of determination:', r2_score(data_filt_3[target], y_pred_arbol))

Mean Absolute Error: 0.04818047899582092
Mean Absolute Percentage Error: 0.6150479070982736
Mean Squared Error: 0.008487351570524415
Root Mean Squared Error: 0.09212682329552244
R^2 coefficient of determination: 0.9011400160992139

In [514]:
#Te da los porcentajes de importancia, siemrpe va a sumar 1

arbol_importancia.feature_importances_

array([0.21052154, 0.11536138, 0.67411709])